.field-name-field-tweet-prof-image,
.field-name-field-tweet-from-user-name {
	float: left;	
	display: inline;
	margin-right: 10px;		
}

.field-name-field-tweet-prof-image .field-item,
.field-name-field-tweet-from-user-name .field-item {
	display: inline;
}

.node-tweet h2 {
	display: none;	
}

#block-views-recent-tweets-block {
	border-top: 2px solid #CCCCCC;
    padding-top: 10px;
}

#block-views-recent-tweets-block h2.block-title{
	background-image: url("../../../../../themes/ldw/images/headerIconTwitter.png");
    background-repeat: no-repeat;
    padding: 2px 0 0 36px;
	margin: 20px 0 0 0;
}

#block-views-recent-tweets-block .view-recent-tweets .node-tweet  .field-name-field-tweet-date {
	color: #0192CF;
    text-decoration: none;
	font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}
#block-views-recent-tweets-block .view-recent-tweets {
	background-image: url("../../../../../themes/ldw/images/twitterBoxBtm.png");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    padding-bottom: 1px;
}

#block-views-recent-tweets-block .view-recent-tweets .node-tweet.clearfix {
	clear: none !important;
}

#block-views-recent-tweets-block .view-recent-tweets .view-content {
	border-color: #009EE0;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px 1px 0;
    padding: 5px 8px 5px 8px;
    position: relative;
	margin: 20px 0 0 0;
}

#block-views-recent-tweets-block .view-recent-tweets .view-footer p{
	padding-top: 20px;
	font-size: 1em;
    line-height: 1.5em;
}

#block-views-recent-tweets-block .view-recent-tweets .view-content .field-name-body a {
	color: #0192CF;
    text-decoration: none;
}